.angular-google-map-container {
	height: 800px;
}

.car-repeat-enter,.car-repeat-leave,.car-repeat-move {
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-ms-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.car-repeat-enter {
	line-height: 0;
	opacity: 0;
}

.car-repeat-enter.car-repeat-enter-active {
	line-height: 20px;
	opacity: 1;
}

.car-repeat-leave {
	opacity: 1;
	line-height: 20px;
}

.car-repeat-leave.car-repeat-leave-active {
	opacity: 0;
	line-height: 0;
}

.car-repeat-move {
	
}

.car-repeat-move.car-repeat-move-active {
	
}